body {
  margin: 0;
  padding: 0;
  min-width: 1200px;
  font-family: "Roboto", Arial, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  color: #000000;
  background-color: #eeeeee;
}

.main-header-logo:hover {
  opacity: 0.8;
}

.main-header-logo:active {
  opacity: 0.3;
}

.site-navigation,
.user-navigation {
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
  list-style: none;
}

.site-navigation a,
.user-navigation a {
  color: #000000;
  position: relative;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
  color: #f7898b;
}

.site-navigation a:active,
.user-navigation a:active {
  color: #a6a6a6;

}

.site-navigation .site-navigation-current::after,
.user-navigation .site-navigation-current::after {
  content: "";
  position: absolute;
  width: 100%;
  /* height: 11px; */
  left: 0px;
  top: 32px;
  border-bottom-color: #fb565a;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}

.slider {
  color: #000000;
  background-color: #eeeeee;
  position: relative;
  width: 100%;
}


.slider p.promo {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
}

.slider p {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
}

.slider .container {
  display: flex;
  flex-direction: column;
  margin-bottom: 80px;
  /* box-shadow: inset 0 0 0 2px blue; */
}

.slider .promo {
  margin: 0;
  width: 560px;
  margin-bottom: 26px;
}

.slider .promo-text {
  margin: 0;
  width: 380px;
  margin-bottom: 38px;
}

.slider .button {
  margin: 0;
  width: 240px;

}
.slider-item {
  display: none;
  /* box-shadow: inset 0 0 0 2px blue; */
  padding: 72px 0 80px 0;
}

.slider-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.slider-item:nth-child(3) {
  display: block;
}
.slider-item:nth-child(1)  {
  background-image: url(../img/slide1.png);
  background-repeat: no-repeat;
  background-position: 93% 9px;
}
.slider-item:nth-child(2)  {
  background-image: url(../img/slide2.png);
  background-repeat: no-repeat;
  background-position: 100% 0;
}
.slider-item:nth-child(3)  {
  background-image: url(../img/slide3.png);
  background-repeat: no-repeat;
  background-position: 100% 20px;
}


.slider-button i {
  display: inline-block;
  width: 18px;
  height: 18px;
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  padding: 8px;
  vertical-align: middle;
}

.slider-button I::after {
  content: "";
  width: 18px;
  height: 18px;
  background: #ffffff;
  position: absolute;
  top: 8px;
  left: 8px;
  border-radius: 50%;
  z-index: 1;
}
.slider-button {
  position: absolute;
  left: 50%;
  bottom: 89px;
  z-index: 2;
  width: 160px;
  text-align: center;
  font-size: 0;
  transform: translateX(-50%);
}

.slider-button .active::before {
  content: "";

  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 2;

  width: 4px;
  height: 4px;
  margin: -4px;

  background-color: inherit;
  border: 2px solid #c1c1c1;
  border-radius: 50%;
}
.button {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  vertical-align: middle;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  border: none;
  border-radius: 3px;
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing:border-box;
  cursor: pointer;
}

.button:active {
  color: rgba(255,255,255,0.3);
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}

.red-button {
  background-color: #fb565a;
}

.red-button:focus,
.red-button:hover {
  background-color: #e74246;
}
.red-button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px #c13135;

}

.green-button {
  background-color: #00ca74;
}

.green-button:hover,
.green-button:focus {
  background-color: #00bc6c;
}
.green-button:active {
  background-color: #00aa62;
}

.yellow-button {
  background-color: #efc84a;
}

.yellow-button:hover,
.yellow-button:focus {
  background-color: #eab534;
}
.yellow-button:active {
  background-color: #e5a722;
}

.grey-button {
  color: #000000;
  background-color: #eeeeee;
}

.grey-button:hover,
.grey-button:focus {
  background-color: #dfdfdf;
}
.grey-button:active {
  background-color: #d5d5d5;
  outline: none;
}

.main-part {
  color: #000000;
  background-color: #ffffff;
}
.site-navigation,
.user-navigation,
.products-list,
.feature-list,
.social-list,
.sort-box-list,
.pagination-list,
.catalog-list,
.partner-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.products-list-item h3 {
  font-size: 24px;
  font-weight: 500;
  line-height: 30px;
  text-transform: uppercase;
}
.products-list-item p{
  background-color: #ffffff;
  color: #283136;
}

.about-us-promo {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
}

.about-us h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #283136;
}
.we-can-do-title,
.feature-title {
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}

.feature-list {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #283136;
}

.our-level {
  font-size: 45px;
  font-weight: 700;
  line-height: 10.06px;
  position: relative;
}
.level {
  position: absolute;
  top: -8px;
  transform: scale(0.6) translateX(-5px);

}

.partner-list a {
  opacity: 0.2;
}


.partner-list a:hover {
  opacity: 1;
}
.partner-list a:focus {
  opacity: 1.0;
}
.partner-list a:active {
  opacity: 0.1;
}
.studio-name {
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #283136;
}
.address {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
}
.social p {
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  color: #283136;
}
.social .discont {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  color: #444444;
}


.write-to-us {
  width: 960px;
  height: 590px;
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 70px;
  position:fixed;
  background-color: #ffffff;
  display: none;
  box-shadow: 0px 10px 50px 1px #000101;
  margin-bottom: 100px;
  margin-left: 100px;
  top: 50%;
  left: 50%;
  margin-left: -480px;
  margin-top: -290px;
  z-index: 10;
}

.write-to-us-title {
  font-size: 45px;
  font-weight: 500;
  line-height: 45px;
  margin: 0;
  margin-bottom: 42px;
}
.write-to-us-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}
.write-to-us-item {
  margin: 0;
}
.write-to-us-item label {
  display: block;
  font-size: 16px;
  font-weight: 700;
  line-height: 18px;
  margin-bottom: 9px;
}
.write-to-us-item input {
  width: 360px;
  box-sizing: border-box;
  padding-top: 14px;
  padding-bottom: 12px;
  padding-left: 15px;
  margin-bottom: 35px;
  border-radius: 3px;
}

.write-to-us-item textarea {
  width: 760px;
  box-sizing: border-box;
  padding-top: 12px;
  padding-bottom: 47px;
  padding-left: 15px;
  margin-bottom: 42px;
  border-radius: 3px;
}

.write-to-us .button {
  width: 260px;
}
.write-to-us-close {

}
.write-to-us-item input,
.write-to-us-item textarea {
  border-width: 2px;
  border-style: solid;
  border-color: #d7dcde;
  color: rgba(68, 68, 68, 0.5);
}
.write-to-us-item input:hover,
.write-to-us-item textarea:hover {
  border-color: #b4b9bb;
  color: rgba(68, 68, 68, 0.5);
}
.write-to-us-item input:focus,
.write-to-us-item textarea:focus,
.write-to-us-item input:active,
.write-to-us-item textarea:active {
  border-color: #000000;
  color: rgba(68, 68, 68, 1);
  outline: none;
}
.write-to-us-item input:invalid,
.write-to-us-item textarea:invalid {
  border-color: #e74246;
}

.write-to-us-close {
  position: absolute;
  width: 21px;
  height: 21px;
  font-size: 0;
  border: none;
  background-color: #ffffff;
  background-image: url("../img/close-cross.svg");
  opacity: 0.3;
  top: 78px;
  right: 90px;
  cursor: pointer;
}
.write-to-us-close:hover {
  opacity: 1;
  outline: none;
}
.write-to-us-close:active {
  opacity: 0.1;
  outline: none;
}





.inner-page .main-title {
  font-size: 55px;
  font-weight: 500;
  line-height: 55px;
  color: #000000;
}

.filter fieldset {
  border: none;
}

.filter legend {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.price-range-list {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: #283136;
}

.price-range-list input {
  border: none;
  border-radius: 1px;
  background-color: #eeeeee;
}



.sort-box-list a{
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #000000;
  text-transform: uppercase;
}

.sort-box-list a.active  {
  color: rgba(0, 0, 0, 0.1);
}

.item-name a {
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
}

.description {
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: #666666;
}

.hover-information {
  background-color: #eeeeee;
}
.pagination-list a.button-current {
  background-color: #ffffff;
  border: 3px solid #dbdbdb;
}



/* ----- Сеточные стили ----- */
img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-header {
  width: 100%;
  box-sizing: border-box;
  padding-top: 49px;
  min-height: 115px;
  /* box-shadow: inset 0 0 0 2px green; */
}



.container {
  width: 1160px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-nav {
  display: flex;
}

.main-header-logo {
  margin-right: 200px;
}

.site-navigation {
  width: 440px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-navigation a,
.user-navigation a {
  display: block;
  margin-top: 25px;
}

.user-navigation {
  display: flex;
  width: 160px;
  margin-left: auto;
  justify-content: flex-end;
}

.user-navigation .cart {
  margin-right: 0;
  padding-left: 40px;
  position: relative;
}

.cart::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 33px;
  left: 1px;
  background-image: url(../img/cart-icon.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
}

.social-list,
.sort-box-list,
.pagination-list
  {display: flex;}


.item-image {
  width: 300px;
  height: 146px;
  background-color: black;
}

.web .item-image {
  background-image: url("../img/illustration-1.png");
}

.app .item-image {
  background-image: url("../img/illustration-2.png");
}

.presentation .item-image {
  background-image: url("../img/illustration-3.png");
}


.item-image {
  margin-bottom: 25px;
}
.products-list {
  display: flex;
  justify-content: space-between;
}
.products-list-item .item-title {
  margin: 0;
  margin-bottom: 16px;
}
.products-list-item .item-promo {
  margin: 0;
  padding: 0;
  margin-bottom: 31px;
  width: 260px;
}
.products-list-item .button {
  width: 160px;
}

.products-list-item {
  margin-right: 100px;
}
.products-list-item:last-child {
  margin-left: auto;
}
.products {
  margin-bottom: 122px;
  /* box-shadow: inset 0 0 0 2px green; */
  /* padding-bottom: 122px; */
  position: relative;
}
.products::after {
  content: "";
  width: 1160px;
  height: 2px;
  /* background-color: #eeeeee; */
  border-bottom-color: #eeeeee;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  position: absolute;
  bottom: -83px;
}

.columns {
  display: flex;
  margin-bottom: 96px;
  justify-content: space-between;
  /* box-shadow: inset 0 0 0 4px blue; */
}
.about-us {
  width: 660px;
  /* box-shadow: inset 0 0 0 2px green; */
}
.about-us-promo {
  margin: 0;
  margin-top: 35px;
  margin-bottom: 33px;
}

.about-us-text {
  margin: 0;
  margin-bottom: 40px;
}
.we-can-do-title {
  margin: 0;
  margin-bottom: 24px;
}
.we-can-do-list {
  list-style: none;
  margin: 0;
  padding: 0;
  /* list-style-image: url(../img/list-marker.jpg); */
}
.we-can-do-list li {
  margin-bottom: 24px;
  padding-left: 36px;
  position: relative;
}
.we-can-do-list li::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 11px;
  left: 2px;
  border-bottom-color: #fb565a;
  border-bottom-style: solid;
  border-bottom-width: 2px;
}
.feature {
  width: 360px;
  /* box-shadow: inset 0 0 0 2px blue; */
}
.feature-logo {
  width: 360px;
  height: 208px;
  margin-bottom: 29px;
}
.feature-title {
  margin: 0;
  margin-left: 17px;
  margin-bottom: 59px;
}
.feature-list {
  display: flex;
}
.feature-list-item {
  margin-right: 30px;
}
.feature-list .our-level {
  margin: 0;
  margin-bottom: 37px;
}
.our-feature {
  margin: 0;
  margin-left: 2px;
}
.partners {
  margin-bottom: 119px;
}
.partner-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.partner-list::after {
  content: "";
  width: 1160px;
  height: 2px;
  border-bottom-color: #eeeeee;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  position: absolute;
  bottom: -39px;
}
.partner-list::before {
  content: "";
  width: 1160px;
  height: 2px;
  /* background-color: #eeeeee; */
  border-bottom-color: #eeeeee;
  border-bottom-style: solid;
  border-bottom-width: 2px;
  position: absolute;
  top: -50px;
}


.partner-list li {
  width: 300px;
  box-sizing: border-box;
}

.partner-list li:first-child,
.partner-list li:last-child {
  width: 280px;
}
.partner-list li:first-child {
  padding-left: 31px;
  padding-right: 50px;
  padding-top: 7px;
  position: relative;
}

.partner-list li:first-child::after {
  content: "";
  width: 2px;
  height: 52px;
  background-color: #eeeeee;
  position: absolute;
  right: 0px;
  top: 10px;
  box-shadow: 300px 0 #eeeeee, 600px 0 #eeeeee;
}

.partner-list li:nth-child(2) {
  padding-left: 46px;
  padding-right: 45px;
}
.partner-list li:nth-child(3) {
  padding-left: 58px;
  padding-right: 57px;
}
.partner-list li:nth-child(4) {
  padding-left: 64px;
  padding-right: 43px;
  padding-top: 5px;
}
.main-footer {
  width: 100%;
  margin-bottom: 80px;
}
.map-wrap {
  width: 1440px;
  height: 416px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.map {
  position: absolute;
  top: -152px;
}

.contacts {
  position: relative;
  margin-bottom: 70px;
}
.company-card {
  position: absolute;
  width: 220px;
  height: 208px;
  padding: 50px;
  padding-top: 48px;
  background-color: white;
  top: 55px;
  left: 372px;
}
.company-card .studio-name {
  margin: 0;
  padding: 0;
  margin-bottom: 23px;
}

.company-card p {
  margin-bottom: 18px;
  margin-left: 2px;
}
.company-card .button {
  margin-top: 19px;
  width: 219px;
}
.social {
  display: flex;
}
.social-list {
  width: 260px;
  margin-right: 140px;
}
.social-button {
  display: flex;
  width: 78px;
  height: 78px;
  border-radius: 50%;
  margin-right: 13px;
  background-color: #e1e1e1;
  align-items: center;
  justify-content: center;
}

.social-button:hover,
.social-button:focus {
  background-color: #e74246;
}

.social-button:active {
  background-color: #d7373b;
  box-shadow: inset 0 3px rgba(0, 0, 0, 0.1);
}
.social-button:active .social-icon {
  fill: rgba(0,0,255,0.3);

}
.social-promo {
  width: 560px;
  margin-top: 6px;
}
.social-promo p {
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}
.grey-wrapper {
  background-color: #eeeeee;
  width: 100%;
  margin-bottom: 55px;
  padding-top: 43px;
  /* box-shadow: inset 0 0 0 2px green; */
}
.main-title {
  margin: 0;
  text-align: center;
  padding-top: 27px;
  padding-bottom: 109px;
}

.catalog {
  display: flex;
  justify-content: space-between;
}

.catalog-price {
  width: 260px;
  margin: 0;
  /* box-shadow: inset 0 0 0 2px green; */
}
.filter fieldset {
  margin: 0;
  padding: 0;
}

.price-title {
  margin-bottom: 49px;
  letter-spacing: 1px;
}


.range-filter {
  width: 260px;
}

.range-controls {
  height: 80px;
  background-color: #eeeeee;
  border-radius: 5px;
  margin-bottom: 14px;
  padding: 0 20px;
  padding-top: 39px;
  box-sizing: border-box;
  position: relative;

}

.range-controls .scale {
  height: 2px;
  background-color: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background-color: #00ca74;
}

.range-controls .toggle {
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  position: absolute;
  top: 31px;
  left: 0;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  width: 260px;
  margin: 0;
  padding: 0;
  justify-content: space-between;
  margin-bottom: 53px;
}
.price-controls label {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  margin-right: 8px;
}

.filter-input-range {
  width: 80px;
  height: 38px;
  box-sizing: border-box;
  border-radius: 5px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  color: #000000;
}

.grid-title {
  margin-bottom: 17px;
}
.filter-opton-list {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 45px;
}
.filter-opton {
  padding-left: 36px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  position: relative;

}
.prop-title {
  margin-bottom: 16px;
}
.filter ul {
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #283136;
  list-style: none;
}

.filter-opton label {
  cursor: pointer;
  color: #283136;
}
.filter-opton label:hover {
  color: #000000;
}

.filter-input + label::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  top: -2px;
  left: 1px;
  background-repeat: no-repeat;
  opacity: 0.4;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  background-image: url(../img/radio-off.svg);
}
.filter-input-radio:checked + label::before {
  background-image: url(../img/radio-on.svg);
}
.filter-input-checkbox:checked + label::before {
  background-image: url(../img/checkbox-on.svg);
}
.filter-input-checkbox + label::before {
  background-image: url(../img/checkbox-off.svg);
}
.filter-input + label:hover::before,
.filter-input:focus + label::before,
.filter-input:focus + label {
  opacity: 1;
  color: #000000;
}

.filter-input:disabled + label {
  color: #000000;
  opacity: 0.3;
}
.filter .button {
  width: 260px;
  margin-top: 3px;
}

.catalog-filter-result {
  width: 760px;
}
.sort-box {
  display: flex;
  margin-bottom: 55px;
}
.how-sort {
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  margin: 0;
  text-transform: uppercase;
  margin-top: 3px;
  width: 400px;
}
.sort-box {
  justify-content: space-between;
}

.sort-box-list a {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
  margin-right: 25px;
  color: rgba(0, 0, 0, 0.3);
}
.sort-box-list .sort-icon {
  fill: rgba(0, 0, 0, 0.3);
}
.sort-box-list a:hover,
.sort-icon:hover {
  color: rgba(0, 0, 0, 0.6);
  fill: rgba(0, 0, 0, 0.6);
}
.sort-box-list a.active,
.sort-box-list a:active,
.direction .active ,
.sort-icon:active {
  color: rgba(0, 0, 0, 1);
  fill: rgba(0, 0, 0, 1);
}
.sort-box
.sort-box .type {
  width: 300px;
  display: flex;
}
.sort-box .direction {
  width: 60px;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}
.direction a {
  margin: 0px;
  margin-right: 3px;
  margin-left: 19px;
}




.catalog-filter-result {
  /* margin-bottom: 50px; */
}

.catalog-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 26px;
}
.catalog-item {
  width: 360px;
  height: 616px;
  margin-bottom: 33px;
  margin-right: 40px;
  position: relative;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;

}
.fat-line {
  width: 360px;
  height: 40px;
  /* box-shadow: inset 0 0 0 2px green; */
  opacity: 0.12;
}
.fat-line path {
  /* fill: rgba(77, 77, 77, 0.12); */
}

.catalog-item .hover-information {
  display: none;
  /* box-shadow: inset 0 0 0 2px green; */
}

.catalog-item:hover .fat-line,
.catalog-item:focus .fat-line {
  opacity: 1;
}

.catalog-item:hover {
  /* box-shadow: 0 0 2px  #000101; */
  box-shadow: 0 2px 20px rgba(0,0,0,0.25);
}


.catalog-item:hover .hover-information,
.catalog-item:focus .hover-information {
  background-color: #eeeeee;
  box-sizing: border-box;
  width: 360px;
  height: 231px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  flex-direction: column;
  padding-top: 26px;
  align-items: center;
}

.hover-information .item-name{
  margin: 0px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  color: #000000;
  margin-bottom: 16px;

}
.hover-information .description {
  margin: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  color: #666666;
  width: 200px;
  text-align: center;
  /* margin-bottom: 29px; */
}

.hover-information .buy-button {
  width: 200px;
  margin-top: auto;
  margin-bottom: 43px;
}
.catalog-item:nth-child(2n) {
  margin-right: 0;
}
.catalog {
  /* margin-bottom: 36px; */
  /* box-shadow: inset 0 0 0 2px green; */
}

.catalog-filter-result {
  /* box-shadow: inset 0 0 0 2px green; */
}
.pagination-list .button {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  border-radius: 3px;
  margin-right: 11px;
  display: inline-block;
  vertical-align: middle;
}
.pagination-list .next {
  width: 260px;
}
.pagination-list {
  margin-bottom: 60px;
}
.button-current {
  padding-top: 14px;
}
